@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Overpass", sans-serif;
  height: 600px;
  background: url("/images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: url("/images/bg-pattern-intro.svg"), linear-gradient(180deg, #ff8f70, #ff3d54);
  background-size: 350%;
  background-repeat: no-repeat;
  background-position: 36% 36%;
  border-radius: 0 0 0 100px;
  padding: 30px 25px 0 25px;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.container .logo {
  height: 2rem;
  cursor: pointer;
}

.container .text-container {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 110px;
}

.container .text-container h1 {
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 3rem);
}

.container .text-container h1 span {
  display: block;
}

.container .text-container h2 {
  padding: 15px 15px 0 15px;
  font-size: 1.1rem;
  font-weight: 300;
}

.container .text-container a {
  text-decoration: none;
}

.container .text-container .btn-wrapper {
  margin-top: 46px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.container .text-container .btn-wrapper .btn {
  border: 1px solid white;
  border-radius: 50px;
  height: 47px;
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.container .text-container .btn-wrapper .btn-primary {
  background-color: white;
  color: #ff525d;
  margin-right: 20px;
}

.container .text-container .btn-wrapper .btn-secondary {
  color: white;
}

.design-container {
  font-family: "Overpass", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 103px 0 65px 0;
  color: #1f3f5b;
  overflow: hidden;
}

.design-container .design-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design-container .image-design {
  width: 100%;
  background-image: url(/images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 13em;
  margin-top: 3em;
}

.design-container h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.design-container h2 span {
  padding: 20px;
}

.design-container .text-content {
  width: 100%;
  margin-top: 37px;
  text-align: center;
  padding: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design-container .text-content p {
  line-height: 2;
  padding: 2em;
  font-size: clamp(0.5rem, 5vw, 1rem);
  max-width: 80%;
}

.editor-container {
  margin-top: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 120px 0 120px;
  background-image: url(/images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(#2c2d3f, #3f4164);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: -50px -300px, 0% 0%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
  height: 628px;
  padding: 0 20px 0 20px;
}

.editor-container .whitespace {
  margin-top: 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editor-container .whitespace img {
  max-width: 100%;
  position: absolute;
}

.editor-container .text-content .text {
  margin-top: 8em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2em 5em 2em;
}

.editor-container .text-content .text h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  padding: 240px 0 0 0;
  font-size: clamp(2rem, 5vw, 2.5rem);
  margin-bottom: 20px;
  color: white;
}

.editor-container .text-content .text p {
  font-family: "Overpass", sans-serif;
  line-height: 1.6;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: white;
  padding: 0px 10px 10px 10px;
}

.free-container {
  font-family: "Overpass", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 103px 0 65px 0;
  color: #1f3f5b;
  overflow: hidden;
}

.free-container .laptop-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.free-container .image-laptop {
  width: 100%;
  background-image: url(/images/illustration-laptop-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 13em;
  margin-top: 3em;
}

.free-container h2 {
  font-size: clamp(1.7rem, 5vw, 2.5rem);
}

.free-container h2 span {
  padding: 20px;
}

.free-container .text-content {
  width: 100%;
  margin-top: 37px;
  text-align: center;
  padding: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free-container .text-content p {
  line-height: 2;
  padding: 2em;
  font-size: clamp(0.5rem, 5vw, 1rem);
  max-width: 80%;
}

.blogr {
  background-color: #25252d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  border-radius: 0 80px 0 0;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.blogr img {
  margin-top: 75px;
}

.blogr .footer-blogr1 {
  text-align: center;
  margin-top: 75px;
}

.blogr .footer-blogr1 h2 {
  margin-bottom: 27px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.blogr .footer-blogr1 a {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #c8c8cb;
  font-size: 1.2rem;
  cursor: pointer;
}

.blogr .footer-blogr2 {
  text-align: center;
  margin-top: 75px;
}

.blogr .footer-blogr2 h2 {
  margin-bottom: 27px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.blogr .footer-blogr2 a {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #c8c8cb;
  font-size: 1.2rem;
  cursor: pointer;
}

.blogr .footer-blogr3 {
  text-align: center;
  margin-top: 75px;
}

.blogr .footer-blogr3 h2 {
  margin-bottom: 27px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.blogr .footer-blogr3 a {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #c8c8cb;
  font-size: 1.2rem;
  cursor: pointer;
}

nav.menu {
  display: block;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-top: 53px;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}

.nav-menu .nav-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 84%;
}

.nav-menu .nav-close .mobile-close {
  cursor: pointer;
}

.nav-menu .menu-container {
  background-color: white;
  width: 84%;
  border-radius: 10px;
  margin-top: 47px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.nav-menu .menu-container .menu-item:hover .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu .menu-container .menu-item .items {
  border-radius: 5px;
  width: 100%;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.nav-menu .menu-container .menu-item .items a {
  text-decoration: none;
  color: #c8c8cb;
  padding: 15px 5px;
}

.nav-menu .menu-container .menu-item .items a:hover {
  color: #1f3f5b;
}

.nav-menu .menu-container .menu-item h4 {
  color: #1f3f5b;
  font-size: 17px;
  padding: 20px 5px;
  cursor: pointer;
}

.nav-menu .menu-container .menu-item h4:hover {
  color: #c8c8cb;
}

.nav-menu .menu-container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  margin-top: 20px;
  color: #c8c8cb;
}

.btn-login {
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.btn-login .btn {
  text-decoration: none;
  border-radius: 50px;
  height: 47px;
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.btn-login .btn-log {
  color: #25252d;
  margin-bottom: 13px;
}

.btn-login .btn-signup {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(90deg, #ff8f70, #ff3d54);
  color: white;
}

.hidden {
  display: none;
}

.mobile-open {
  cursor: pointer;
  height: 20px;
  width: 23px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1000px) {
  .container {
    font-family: "Overpass", sans-serif;
    height: 600px;
    background: url("/images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
    background: url("/images/bg-pattern-intro.svg"), linear-gradient(180deg, #ff8f70, #ff3d54);
    background-size: 350%;
    background-repeat: no-repeat;
    background-position: 36% 36%;
    border-radius: 0 0 0 100px;
    padding: 30px 25px 0 25px;
  }
  .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .logo {
    height: 2.5rem;
    cursor: pointer;
    margin-left: 100px;
  }
  .container .text-container {
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 110px;
  }
  .container .text-container h1 {
    font-weight: 600;
    font-size: 3.8rem;
  }
  .container .text-container h1 span {
    display: initial;
  }
  .container .text-container h2 {
    padding: 15px 15px 0 15px;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .container .text-container a {
    text-decoration: none;
  }
  .container .text-container .btn-wrapper {
    margin-top: 46px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
  .container .text-container .btn-wrapper .btn {
    border: 1px solid white;
    border-radius: 50px;
    height: 47px;
    width: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
  }
  .container .text-container .btn-wrapper .btn-primary {
    background-color: white;
    color: #ff525d;
    margin-right: 20px;
  }
  .container .text-container .btn-wrapper .btn-secondary {
    color: white;
  }
  .design-content {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
  }
  .design-content .image-design {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    background-image: url(/images/illustration-editor-desktop.svg);
    padding: 13em;
    margin-top: 3em;
    padding: 30em;
  }
  .design-content .text-content {
    -ms-grid-row: 1;
    grid-area: 1 / span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
  }
  .design-content .text-content h2 {
    width: 80%;
  }
  .laptop-content {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
  }
  .laptop-content .image-laptop {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    background-image: url(/images/illustration-laptop-desktop.svg);
    margin-top: 3em;
    padding: 30em;
  }
  .laptop-content .text-content {
    -ms-grid-row: 1;
    grid-area: 1 / span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
  }
  .laptop-content .text-content h2 {
    width: 80%;
  }
  .editor-container {
    margin-top: -5em;
    height: 400px;
    background-size: 80%, cover;
    background-position: -230px -600px, 0% 0%;
  }
  .editor-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
  }
  .editor-content .text {
    margin-top: -3em !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2em 5em 2em;
  }
  .editor-content .whitespace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .editor-content .whitespace img {
    width: 40em;
    max-width: 100%;
    position: absolute;
  }
  .mobile-open,
  hr,
  .mobile-close {
    display: none;
  }
  .nav-menu {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    height: 0vh !important;
    padding: 0 !important;
  }
  .nav-menu .menu-container {
    margin: 0 !important;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 100px;
  }
  .nav-menu .menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu .heading h4 {
    color: white !important;
  }
  .nav-menu .btn-login {
    margin: 0 !important;
    height: 70px;
    margin-top: 0 !important;
    width: 100%;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-menu .btn-login a {
    color: white;
  }
  .blogr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    padding: 0 6em 4em 6em;
  }
  .blogr .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */