@media screen and (min-width: 1000px) {
  .container {
    font-family: "Overpass", sans-serif;

    height: 600px;
    background: url("/images/bg-pattern-intro.svg"), color(Very-light-red);
    background-size: 350%;
    background-repeat: no-repeat;
    background-position: 36% 36%;
    border-radius: 0 0 0 100px;
    padding: 30px 25px 0 25px;
    .navbar {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      height: 2.5rem;
      cursor: pointer;
      margin-left: 100px;
    }

    .text-container {
      color: color(White-text);
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding-top: 110px;

      h1 {
        font-weight: 600;
        font-size: 3.8rem;

        span {
          display: initial;
        }
      }

      h2 {
        padding: 15px 15px 0 15px;
        font-size: 1.1rem;
        font-weight: 300;
      }

      a {
        text-decoration: none;
      }

      .btn-wrapper {
        margin-top: 46px;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
        font-family: "Ubuntu", sans-serif;

        .btn {
          border: 1px solid white;
          border-radius: 50px;
          height: 47px;
          width: 135px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
        }
        .btn-primary {
          background-color: color(White-text);
          color: color(Lightred);
          margin-right: 20px;
        }
        .btn-secondary {
          color: color(White-text);
        }
      }
    }
  }
  .design-content {
    display: grid !important;
    grid-template-columns: 1.5fr 1fr;

    .image-design {
      grid-column: 2 / span 2;
      background-image: url(/images/illustration-editor-desktop.svg);
      padding: 13em;
      margin-top: 3em;
      padding: 30em;
    }
    .text-content {
      grid-area: 1 / span 1;
      display: flex;
      justify-content: start;
      text-align: start;
      h2 {
        width: 80%;
      }
    }
  }
  .laptop-content {
    display: grid !important;
    grid-template-columns: 1.5fr 1fr;

    .image-laptop {
      grid-column: 2 / span 2;
      background-image: url(/images/illustration-laptop-desktop.svg);
      margin-top: 3em;
      padding: 30em;
    }
    .text-content {
      grid-area: 1 / span 1;
      display: flex;
      justify-content: start;
      text-align: start;
      h2 {
        width: 80%;
      }
    }
  }
  .editor-container {
    margin-top: -5em;
    height: 400px;
    background-size: 80%, cover;
    background-position: -230px -600px, 0% 0%;
  }
  .editor-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .text {
      margin-top: -3em !important;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 2em 5em 2em;
    }
    .whitespace {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 40em;
        max-width: 100%;
        position: absolute;
      }
    }
  }

  .mobile-open,
  hr,
  .mobile-close {
    display: none;
  }
  .nav-menu {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    height: 0vh !important;
    padding: 0 !important;

    .menu-container {
      margin: 0 !important;
      background: transparent;
      box-shadow: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100px;
    }

    .menu-content {
      display: flex;
    }
    .heading {
      h4 {
        color: white !important;
      }
    }
    .btn-login {
      margin: 0 !important;
      height: 70px;
      margin-top: 0 !important;
      width: 100%;
      padding: 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      a {
        color: white;
      }
    }
  }

  // footer .............................

  .blogr {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 0 6em 4em 6em;
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
