@media screen and (min-width: 1440px) {
  .container {
    font-family: "Overpass", sans-serif;

    .back-img {
      height: 600px;
      background-image: url("./images/bg-pattern-intro.svg"),
        color(Very-light-red);
      background-size: 350%;
      background-repeat: no-repeat;
      background-position: 36% 36%;
      border-radius: 0 0 0 100px;
      padding: 30px 25px 0 25px;
      .navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
      }
      .logo {
        height: 2.5rem;
        cursor: pointer;
        margin-left: 150px;
      }

      .text-container {
        color: color(White-text);
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 110px;

        h1 {
          font-weight: 600;
          font-size: 3.8rem;

          span {
            display: initial;
          }
        }

        h2 {
          padding: 15px 15px 0 15px;
          font-size: 1.1rem;
          font-weight: 300;
        }

        a {
          text-decoration: none;
        }

        .btn-wrapper {
          margin-top: 46px;
          justify-content: space-around;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: 600;
          font-size: 1rem;
          font-family: "Ubuntu", sans-serif;

          .btn {
            border: 1px solid white;
            border-radius: 50px;
            height: 47px;
            width: 135px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
          }
          .btn-primary {
            background-color: color(White-text);
            color: color(Lightred);
            margin-right: 20px;
          }
          .btn-secondary {
            color: color(White-text);
          }
        }
      }
    }
  }
  .design-container {
    font-family: "Overpass", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 103px 0 65px 0;
    color: color(Very-dark-headings);
    overflow: hidden;
    .design-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
    }
    h2 {
      margin-top: 20px;
      font-size: 38px;
      span {
        padding: 20px;
      }
    }
    .img-desktop {
      margin-right: -250px;
      margin-top: 43px;
      transform: scale(1.01);
    }
    .img-mobile {
      display: none;
      height: 650px;

      margin-top: 43px;
      transform: scale(1.01);
    }

    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      margin-top: 37px;
      padding: 0 140px 0 140px;
      h2 {
        font-size: 30px;
      }
      p {
        line-height: 2;
        padding-top: 11px;
        font-size: 15px;
      }
    }
  }
  .editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .whitespace {
      height: 100px;
      width: 100%;
      margin-bottom: -38px;
      position: relative;

      img {
        position: absolute;
        top: -7.1px;
        left: 126px;
        width: 551px;
        justify-content: center;
        z-index: 1;
      }
    }

    .text-content {
      border-radius: 0 120px 0 120px;
      background-image: url(images/bg-pattern-circles.svg),
        linear-gradient($gradient-1, $gradient-2);
      background-repeat: no-repeat, no-repeat;
      background-size: 73%, 100%;
      background-position: -58% 85%, 0% 0%;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
      text-align: center;
      height: 400px;
      padding: 0 155px 0 735px;
      justify-content: left;
      text-align: left;
      display: flex;
      flex-direction: column;

      h2 {
        font-family: "Overpass", sans-serif;
        font-weight: 600;
        padding: 114px 0 0 0;
        font-size: 2.3rem;
        margin-bottom: 20px;
        color: color(White-text);
      }
      p {
        font-family: "Overpass", sans-serif;
        line-height: 1.6;
        font-size: 17px;
        color: color(White-text);
        padding: 0px 10px 10px 0px;
      }
    }
  }
  .free-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
    color: color(Very-dark-headings);
    margin-left: -290px;
    .laptop-content {
      .d-laptop {
        display: flex;
      }
      .m-laptop {
        display: none;
      }
    }
    .text-content {
      margin-top: 37px;
      text-align: left;
      justify-content: left;
      padding: 0 230px 0 20px;

      h2 {
        font-size: 2rem;
        font-family: $font;
      }

      p {
        margin-top: 10px;
        line-height: 1.7;
        padding: 12px;
        font-family: $font;
        font-size: 17px;
        padding: 4.5px;
      }

      .power {
        margin-top: 46px;
      }
    }
  }

  .blogr {
    background-color: color(Very-dark-black-blue-footer-background);
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    border-radius: 0 80px 0 0;
    font-family: $font;
    color: color(White-text);
    padding-left: 230px;

    img {
      margin-top: -150px;
      height: 50px;
    }

    .footer-blogr3 {
      position: relative;
      margin-top: -30px ;

      h2 {
        padding-left: 230px;
        margin-bottom: 27px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
      }

      a {
        padding-left: 230px;
        margin-bottom: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: color(Grayish-blue-footer-text);
        font-size: 1.2rem;
        cursor: pointer;
      }
     
    }
    .footer-blogr1 {
      position: relative;
      margin-top: 30px;

      h2 {
        padding-left: 230px;
        margin-bottom: 27px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
      }

      a {
        padding-left: 230px;
        margin-bottom: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: color(Grayish-blue-footer-text);
        font-size: 1.2rem;
        cursor: pointer;
      }
     
    }
    .footer-blogr2 {
      position: relative;
      margin-top: 0px;

      h2 {
        padding-left: 230px;
        margin-bottom: 27px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
      }

      a {
        padding-left: 230px;
        margin-bottom: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: color(Grayish-blue-footer-text);
        font-size: 1.2rem;
        cursor: pointer;
      }
     
    }
  }

  .nav-menu {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 999;

    .nav-close {
      display: none;

      .mobile-close {
        cursor: pointer;
      }
    }
    .menu-container {
      background-color: transparent;
      width: 100%;
      border-radius: 10px;
      margin-top: 0;
      box-shadow: 0 0px 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .menu-item {
        &:hover {
          .items {
            position: absolute;
            width: 110px;
          }
        }

        .items {
          border-radius: 5px;
          width: 100%;
          background-color: rgb(240, 240, 240);

          a {
            text-decoration: none;
            color: color(Grayish-blue-footer-text);
            padding: 15px 5px;

            &:hover {
              color: color(Very-dark-headings);
            }
          }
          display: none;
        }
        h4 {
          color: color(Very-dark-headings);
          font-size: 17px;
          padding: 20px 5px;
          cursor: pointer;
          &:hover {
            color: color(Grayish-blue-footer-text);
          }
        }
      }
      .heading {
        display: flex;
        margin-right: 20px;
      }
    }
  }
  hr {
    display: none;
    margin-top: 50px;
    color: color(Grayish-blue-footer-text);
  }

  .btn-login {
    margin: 0 0 0 250px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;

    .btn {
      text-decoration: none;
      border-radius: 50px;
      height: 47px;
      width: 135px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 700;
    }
    .btn-log {
      color: color(Very-dark-black-blue-footer-background);
      margin-bottom: 13px;
    }
    .btn-signup {
      background-image: color(btn-color);
      color: color(White-text);
    }
  }

  .menu-hide {
    left: 0;
    opacity: 1;
  }
  .mobile-open {
    height: 20px;
    width: 23px;
    transition: all 1s ease-in-out;
    display: none;
  }
}
